<div class="item-container h-100">
  <div class="row p-3 item-list">
    <ng-container *ngIf="things$">
      <div *ngFor="let thing of things$ | async" class="col-md-6 mb-3">
        <app-thing-view
          [thing]="thing"
          (updateEmitted)="updateThing($event)"
          (putEmitted)="putThing($event)"
          (removeEmitted)="removeThing($event)"
          (deleteEmitted)="deleteThing($event)">
        </app-thing-view>
      </div>
    </ng-container>
  </div>
  <div class="m-3 text-end">
    <button type="button" class="btn btn-primary left" (click)="openEditDialog()">Create Thing</button>
  </div>
</div>
