<div class="item-container h-100">
  <div class="row p-3 item-list">
    <ng-container *ngIf="containers$">
      <div *ngFor="let container of containers$ | async" class="col-md-6 mb-3">
        <app-container-view
          [container]="container"
          (updateEmitted)="updateContainer($event)"
          (deleteEmitted)="deleteContainer($event)">
        </app-container-view>
      </div>
    </ng-container>
  </div>
  <div class="m-3 text-end">
    <button type="button" class="btn btn-primary left" (click)="openDialog()">Create Container</button>
  </div>
</div>
