<div class="modal-header">
  {{header}}
</div>
<div class="modal-body">
  <form [formGroup]="putItemForm">
    <div class="mb-2">
      <label>Name:</label>
      <select class="form-select"
              formControlName="parentId">
        <option value="">Choose Container</option>
        <option *ngFor="let container of availableContainers" [value]="container.id">
          {{ container.name }}
        </option>
      </select>
      <span class="error-span" *ngIf="containerInvalid">Field is required</span>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="save()">Put</button>
</div>
