<ng-container *ngIf="container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{container.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{container.description}}</h6>
      <p class="card-text">Volume: {{container.volume}}cm (Empty: {{container.emptyVolume}}cm) </p>
      <p class="card-text">Nested to: {{parentName}} </p>
    </div>
    <div class="card-footer d-flex justify-content-between">
      <div>
        <button type="button" class="btn btn-primary" (click)="putTo()" *ngIf="!isNested">Put To</button>
        <button type="button" class="btn btn-primary" (click)="removeFromContainer()" *ngIf="isNested">
          Remove
        </button>
      </div>
      <div>
        <button type="button" class="btn btn-primary me-2" (click)="updateContainer()">Update</button>
        <button type="button" class="btn btn-danger" (click)="deleteContainer()">Delete</button>
      </div>
    </div>
  </div>
</ng-container>
